* {
    margin: 0;
    padding: 0;
  
    
  }
  .holder {
    width: 600px;
    border: 2px solid black;
    border-radius: 10px;
    border-width: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
  .item {
    height: 100px;
    flex-basis: 180px;
  }
  #one {
    background-color: red;
    order: -1;
    flex-basis: 50%;
    
  }
  #two {
    background-color: cyan;
    order: 3;
    flex-grow: 1;
  
    
  }
  #three {
    background-color: purple;
    order: 2;
    flex-grow: 1;
  
  }
  
  #four {
    background-color: green;
    order: 4;
    flex-grow: 1;
     
  }
  #five {
    background-color: orange;
    order: 1;
    flex-basis: 50%;
    
  }